* {
  box-sizing: border-box;
}

body {
  color: white;
}

.imported-icons {
    font-size: xx-large;
    color: white;
}

.welcome-text {
  font-size: 50px;
  color: white;
}

h3 {
  color: white;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  height: 200px;
  padding: 0 10px;
}
  
/* Remove extra left and right margins, due to padding */
.row {margin: 0 auto;}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Responsive columns */
@media screen and (max-width: 800px) {
  .column {
    width: 70%;
    display: block;
    margin-left: 15%;
  }
} 

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background: #343842;
}