.little-text {
    color: white;
}

.imported-icons {
    font-size: xx-large;
}

a {
   text-decoration: none;
   text-decoration-color: white;
}

* {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin-bottom: 1%;
    margin-top: 5%;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 auto; width: 80%;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 1000px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background: linear-gradient(to right, #8A94A7, #d1d6de); 
  }