input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.account-welcome-text {
    color: white;
    font-size: 30px;
    text-align: center;
}

/* Responsive columns */
@media screen and (max-width: 800px) {
    .account-welcome-text {
      font-size: 20px;
    }
} 