.sign-in-text {
    color: white;
    font-size: xx-large;
    text-align: center;
}

.welcome-text {
    font-size: 35px;
    color: white;
}

.input-sign-in {
    border: 1px dashed red;
  }

.sign-in-photo {
  height: 30vh;
  margin-left: 40%;
  justify-items: center;
}  
  
/* Responsive columns */
@media screen and (max-width: 800px) {
    .welcome-text {
      font-size: 20px;
    }
} 