.groups-box {
    width: 50%;
    height: 100%;  
    padding: 20px;
    border: 1px solid grey;
    margin: 0px auto;
}

ul.history-list-style {
    list-style-type: circle
}

.welcome-text {
    font-size: 35px;
    color: white;
}

/* Responsive columns */
@media screen and (max-width: 800px) {
    .welcome-text {
      font-size: 20px;
    }
} 